body {
  margin-left: 10%;
  margin-right: 10%;
}
form {
  width: 50%;
}
table {
  margin-top: 20px;
}

select.time {
  width: 100px;
  float: left;
}

a.add_nested_fields {
  margin-bottom: 10px;
}

a.remove_nested_fields {
  margin-bottom: 10px;
}
